<!-- contact.html -->
{% load static %}

<div class="row toggle" id="contact" style="display:none;">

  <div class="pagetitle mb-4">
    <h1>Contact</h1>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For website technical issues, please contact Dr. Wei-Sheng Wu.</h5>
        <h5 class="fw-bold"><i class="bi bi-person-circle"></i> Wei-Sheng Wu</h5>
        <p class="fw-bold ps-2">Professor</p>
        <hr>
        <p><i class="bi bi-mortarboard-fill"></i> Department of Electrical Engineering</p>
        <p><i class="bi bi-bank2"></i> National Cheng Kung University</p>
        <p><i class="bi bi-envelope-fill"></i> wessonwu@mail.ncku.edu.tw</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">For biological issues, please contact Dr. Heng-Chi Lee.</h5>
        <h5 class="fw-bold"><i class="bi bi-person-circle"></i> Heng-Chi Lee</h5>
        <p class="fw-bold ps-2">Assistant Professor</p>
        <hr>
        <p><i class="bi bi-mortarboard-fill"></i> Department of Molecular Genetics and Cell Biology</p>
        <p><i class="bi bi-bank2"></i> University of Chicago</p>
        <p><i class="bi bi-envelope-fill"></i> hengchilee@uchicago.edu</p>
        <p><a href="http://www.hcleelab.org/" target="_blank"><i class="bi bi-link-45deg"></i> Lee lab website</a></p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Author</h5>
        <h5 class="fw-bold"><i class="bi bi-person-circle"></i> Chi-Jung Chung</h5>
        <p class="fw-bold ps-2">M.S. Student</p>
        <hr>
        <p><i class="bi bi-mortarboard-fill"></i> Department of Electrical Engineering</p>
        <p><i class="bi bi-bank2"></i> National Cheng Kung University</p>
        <p><i class="bi bi-envelope-fill"></i> ryanccj@gmail.com</p>
      </div>
    </div>
  </div>

</div>