<!-- stylesheet-lineplot.html -->

<div class="col-sm-6 condition4">
  <label class="form-label fw-bold col-form-label-sm mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
    title="If it's 'multi-data to multi-filter', determine which field should be set as hue.">
    Segmentation
  </label>
    <select class="form-select" name="segmentation" id="segmentation">
      <option value="data" selected>data</option>
      <option value="filter">list</option>
    </select>
</div>

<div class="col-sm-6 condition4">
  <label class="form-label fw-bold col-form-label-sm mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
    title="Merge all figures if it's 'multi-data to multi-filter'.">
    Merge
  </label>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="merge">
    </div>
</div>